In [1]:
import pandas as pd
import numpy as np

Goals:

- I have to order them by channel and event
- List of channel as attribut channels
- List of lists of every chanel's output
- maybe discard the size
- getting 5000 samples from each device (approximatively)


# Data Importation, device EPOC

In [2]:
column_names = ["id","event","device","channel","code","size","data"]
df = pd.read_table("mindbigdata-ep-v1.0/EP101.txt",header = None,
                   names =column_names,index_col="id",sep = '\t')

In [3]:
# Sorting
df = df.sort_values(["event","channel"])

In [11]:
df = df.iloc[:71000,]
def list_time_series(x):
    L = []
    for k in x.values:
        a = k.split(sep = ',')
        L.append([float(z) for z in a ])
    return L
df_listed = df.groupby(["event","code","device"]).agg(
    data_lists = pd.NamedAgg(column='data', aggfunc=list_time_series),
    channels_names = pd.NamedAgg(column='channel', aggfunc=list)
)
df_listed= df_listed.reset_index()

In [12]:
df_listed.head()

,event,code,device,data_lists,channels_names
0,67635,6,EP,"[[4078.461538, 4062.564102, 4055.897435, 4065....","[AF4, F3, F4, F7, F8, FC5, FC6, O1, O2, P7, P8..."
1,67636,7,EP,"[[4385.641025, 4381.538461, 4386.666666, 4383....","[AF3, AF4, F3, F4, F7, F8, FC5, FC6, O1, O2, P..."
2,67637,9,EP,"[[4380.51282, 4389.743589, 4395.897435, 4395.3...","[AF3, AF4, F3, F4, F7, F8, FC5, FC6, O1, O2, P..."
3,67638,9,EP,"[[4395.897435, 4390.76923, 4403.589743, 4411.2...","[AF3, AF4, F3, F4, F7, F8, FC5, FC6, O1, O2, P..."
4,67639,0,EP,"[[4395.384615, 4385.128205, 4382.051282, 4390....","[AF3, AF4, F3, F4, F7, F8, FC5, FC6, O1, O2, P..."

In [13]:
df_listed.shape

(5072, 5)

# DEVICE EPOC IS READY

In [23]:
column_names = ["id","event","device","channel","code","size","data"]
df = pd.read_table("mindbigdata-ep-v1.0/MU.txt",header = None,
                   names =column_names,index_col="id",sep = '\t')
# Sorting
df = df.sort_values(["event","channel"])
df = df.iloc[:21000,]
def list_time_series(x):
    L = []
    for k in x.values:
        a = k.split(sep = ',')
        L.append([float(z) for z in a ])
    return L
df_listed_mu = df.groupby(["event","code","device"]).agg(
    data_lists = pd.NamedAgg(column='data', aggfunc=list_time_series),
    channels_names = pd.NamedAgg(column='channel', aggfunc=list)
)
df_listed_mu= df_listed_mu.reset_index()

In [24]:
df_listed_mu.head()

,event,code,device,data_lists,channels_names
0,132669,6,MU,"[[468.0, 487.0, 493.0, 493.0, 498.0, 493.0, 49...","[FP1, FP2, TP10, TP9]"
1,132670,7,MU,"[[505.0, 515.0, 513.0, 506.0, 512.0, 520.0, 51...","[FP1, FP2, TP10, TP9]"
2,132671,6,MU,"[[502.0, 516.0, 514.0, 508.0, 514.0, 520.0, 52...","[FP1, FP2, TP10, TP9]"
3,132672,6,MU,"[[512.0, 529.0, 527.0, 526.0, 522.0, 522.0, 52...","[FP1, FP2, TP10, TP9]"
4,132673,1,MU,"[[506.0, 511.0, 513.0, 518.0, 505.0, 522.0, 52...","[FP1, FP2, TP10, TP9]"

In [25]:
df_listed_mu.shape

(5250, 5)

# Device Muse is ready

In [38]:
column_names = ["id","event","device","channel","code","size","data"]
df = pd.read_table("mindbigdata-ep-v1.0/IN.txt",header = None,
                   names =column_names,index_col="id",sep = '\t')
# Sorting
df = df.sort_values(["event","channel"])
df = df.iloc[:25000,]
def list_time_series(x):
    L = []
    for k in x.values:
        a = k.split(sep = ',')
        L.append([float(z) for z in a ])
    return L
df_listed_in = df.groupby(["event","code","device"]).agg(
    data_lists = pd.NamedAgg(column='data', aggfunc=list_time_series),
    channels_names = pd.NamedAgg(column='channel', aggfunc=list)
)
df_listed_in= df_listed_in.reset_index()

In [39]:
df_listed_in.head()

,event,code,device,data_lists,channels_names
0,173652,0,IN,"[[4259.487179, 4237.948717, 4247.179487, 4242....","[AF3, AF4, PZ, T7, T8]"
1,173653,6,IN,"[[4273.846153, 4265.641025, 4270.25641, 4284.6...","[AF3, AF4, PZ, T7, T8]"
2,173654,8,IN,"[[4309.743589, 4290.76923, 4311.282051, 4303.0...","[AF3, AF4, PZ, T7, T8]"
3,173655,4,IN,"[[4343.589743, 4363.076923, 4366.153846, 4363....","[AF3, AF4, PZ, T7, T8]"
4,173656,4,IN,"[[4157.435897, 4171.794871, 4177.948717, 4145....","[AF3, AF4, PZ, T7, T8]"

In [40]:
df_listed_in.shape

(5000, 5)

# Device Insight data ready

In [35]:
column_names = ["id","event","device","channel","code","size","data"]
df = pd.read_table("mindbigdata-ep-v1.0/MW.txt",header = None,
                   names =column_names,index_col="id",sep = '\t')
# Sorting
df = df.sort_values(["event","channel"])
df = df.iloc[:5100,]
def list_time_series(x):
    L = []
    for k in x.values:
        a = k.split(sep = ',')
        L.append([float(z) for z in a ])
    return L
df_listed_mw = df.groupby(["event","code","device"]).agg(
    data_lists = pd.NamedAgg(column='data', aggfunc=list_time_series),
    channels_names = pd.NamedAgg(column='channel', aggfunc=list)
)
df_listed_mw= df_listed_mw.reset_index()

In [36]:
df_listed_mw.head()

,event,code,device,data_lists,channels_names
0,0,0,MW,"[[38.0, 48.0, 51.0, 44.0, 48.0, 56.0, 56.0, 41...",[FP1]
1,1,1,MW,"[[83.0, 74.0, 65.0, 65.0, 66.0, 55.0, 43.0, 25...",[FP1]
2,2,4,MW,"[[19.0, 10.0, -2.0, -9.0, -5.0, 3.0, 8.0, 7.0,...",[FP1]
3,3,1,MW,"[[17.0, 29.0, 36.0, 26.0, 21.0, 17.0, 17.0, 13...",[FP1]
4,4,8,MW,"[[77.0, 74.0, 69.0, 70.0, 76.0, 75.0, 76.0, 75...",[FP1]

In [37]:
df_listed_mw.shape

(5100, 5)

# Device MW is data is ready
Merging and exporting to csv

In [41]:
final_data = pd.concat([df_listed,df_listed_in,df_listed_mu,df_listed_mw])

In [42]:
final_data.shape

(20422, 5)

In [43]:
final_data.to_csv("final_data")